<div class="container">
    <div class="timer_section">
        <div class="d-flex justify-spacebetween">
            <div class="title_section">
                <h1>First Mining ICO Token StartUp</h1>
                <h5 class="para">Regarded as a synonym to cryptocurrency, blockchain is much more than a payment option.
                </h5>
                <div class="d-flex btn_sec">
                    <button class="btn_primary btn_find">FIND OUT MORE</button>
                    <button class="btn_primary">WHITE PAPER</button>
                </div>
            </div>
            <div class="timer">
                <div class="timer_box">
                    <h5 class="timer_title">Edge ICO Ends in</h5>
                    <div class="date_sec d-flex justify-spacebetween">
                        <div class="inner_sec d-flex f-col text-center">
                            <div class="inner_box">
                                {{days}}
                            </div>
                            <p class="timer_name">Days</p>
                        </div>
                        <div class="inner_sec d-flex f-col text-center">
                            <div class="inner_box">
                                {{hours}}
                            </div>
                            <p class="timer_name">Hours</p>
                        </div>
                        <div class="inner_sec d-flex f-col text-center">
                            <div class="inner_box">
                                {{minutes}}
                            </div>
                            <p class="timer_name">Minutes</p>
                        </div>
                        <div class="inner_sec d-flex f-col text-center">
                            <div class="inner_box">
                                {{seconds}}
                            </div>
                            <p class="timer_name">Seconds</p>
                        </div>
                    </div>
                    <div class="btn_token_sec">
                        <button class="btn_primary btn_buy">BUY EDGE TOKENS</button>
                    </div>
                    <div class="ratio">
                        <div class="d-flex justify-spacebetween">
                            <p class="d-flex" id="reach"><span>Reached:</span> <span> $19,550,000</span></p>
                            <p>$70,000,000</p>
                        </div>
                        <!-- <div class="meter">
                            <span [style.width]="width+'%'"></span>
                        </div> -->
                        <div class="progress">
                            <div class="progress-bar-green"></div>
                        </div>
                        <div class="d-flex justify-spacebetween">
                            <p>Softcap</p>
                            <p>Hardcap</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>