<footer>
    <div class="footer">
        <div class="container">
            <div class="footer_block d-flex">
                <div class="f-col-1 d-flex f-col">
                    <a href="#" class="footer-logo"><img src="../../assets/images/logo.png"></a>
                    <p class="f-para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
                    <div class="f-social-icon d-flex">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="#"><i class="fa-brands fa-vimeo-v"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
                <div class="f-col-1 d-flex f-col">
                    <h5>Additional Links</h5>
                    <ul class="footer-menu">
                        <li><a href="#">Tokens Sales</a></li>
                        <li><a href="#">Roadmap</a></li>
                        <li><a href="#">What is Edge Token?</a></li>
                        <li><a href="#">Why / How?</a></li>
                        <li><a href="#">Edge Wallet</a></li>
                    </ul>
                </div>
                <div class="f-col-1 d-flex f-col">
                    <h5>Contact us</h5>
                    <p class="f-para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean</p>
                    <p class="f-para1">Enean vulputate eleifend tellus. Aenean leo ligula, porttitor eu.</p>
                </div>
                <div class="f-col-1 d-flex f-col">
                    <h5>Subscribe</h5>
                    <p class="f-para">Enean vulputate eleifend tellus. Aenean leo ligula, porttitor eu.</p>
                    <div class="input_sec">
                        <input type="email" class="e-mail" placeholder="Your e-mail...">
                        <a class="submit"><i class="fa-solid fa-arrow-right read_more_arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer_block2">                
                <div class="d-flex justify-spacebetween">                    
                    <p class="copyright">© 2018 <a href="#">Qode Interactive</a>, All Rights Reserved</p>
                    <a href="#" class="copyright">Privacy Policy Terms & Conditions</a>
                </div>
            </div>
        </div>        
    </div>
</footer>