<div class="container">
    <div class="detail_block d-flex justify-spacebetween">        
            <div class="detail1 d-flex f-col">
                <a href="#" class="d_date">August 10, 2018</a>
                <a href="#"><h4 class="d_title">ICO Projection</h4></a>
                <p class="d_para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient monte, nases ridi culu ...</p>
                <a href="#" class="read_more">READ MORE <i class="fa-solid fa-arrow-right read_more_arrow"></i></a>
            </div>
            <div class="detail1 d-flex f-col">
                <a href="#" class="d_date">August 10, 2018</a>
                <a href="#"><h4 class="d_title">The First Edge ICO</h4></a>
                <p class="d_para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient monte, nases ridi culu ...</p>
                <a href="#" class="read_more">READ MORE <i class="fa-solid fa-arrow-right read_more_arrow"></i></a>
            </div>
            <div class="detail1 d-flex f-col">
                <a href="#" class="d_date">August 10, 2018</a>
                <a href="#"><h4 class="d_title">Crypto is stable?</h4></a>
                <p class="d_para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient monte, nases ridi culu ...</p>
                <a href="#" class="read_more">READ MORE <i class="fa-solid fa-arrow-right read_more_arrow"></i></a>
            </div>
    </div>
</div>
