<div class="container">
    <div class="info_section d-flex justify-spacebetween text-center">
        <div class="first_data d-flex f-col align-items-center" >
            <img src="../../assets/images/h1-custom-icon-img-1.png">
            <h4 class="info_title">Virtual Database</h4>
            <p class="info_data">Lorem ipsum dolor sit amet, consectetuer adi piscing elit. Aenean commodo ligula eget
                dolor. Aenean massa cum</p>
        </div>
        <div class="second_data d-flex f-col align-items-center">
            <img src="../../assets/images/h1-custom-icon-img-2.png">
            <h4 class="info_title">Secured Money</h4>
            <p class="info_data">Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Pha sel lus viverra
                nullaut metus var ius laret. Iuiue rut ruman nan</p>
        </div>
        <div class="third_data d-flex f-col align-items-center">
            <img src="../../assets/images/h1-custom-icon-img-3.png">
            <h4 class="info_title">Private Legal</h4>
            <p class="info_data">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                massa quis enim. Donec pede justo</p>
        </div>
    </div>
</div>