<div class="partners_block">
    <div class="container">
        <div class="partners">
            <div class="partner_title_sec text-center">
                <h3 class="white_color">Strategic Partners</h3>
                <span class="line"></span>
            </div>
            <div class="logos d-flex">
                <a href="#" class="flex justify-center" *ngFor="let logo1 of logos1">                                        
                    <img class="logo-img" src="../../assets/images/{{logo1.logo_img}}">                    
                    <img class="h-logo-img" src="../../assets/images/{{logo1.logo_img_h}}">
                    <!-- <img class="logo-img" src="../../assets/images/{{logo_img1}}">
                    <img class="h-logo-img" src="../../assets/images/{{logo_img_h1}}"> -->
                </a>
                <!-- <a href="#" class="flex justify-center">
                    <img class="logo-img" src="../../assets/images/rko.png">
                    <img class="h-logo-img" src="../../assets/images/h_rko.png">
                </a>
                <a href="#" class="flex justify-center">
                    <img class="logo-img" src="../../assets/images/finance.png">
                    <img class="h-logo-img" src="../../assets/images/h_finance.png">
                </a>
                <a href="#" class="flex justify-center">
                    <img class="logo-img" src="../../assets/images/techstart.png">
                    <img class="h-logo-img" src="../../assets/images/h_techstart.png">
                </a>
                <a href="#" class="flex justify-center">
                    <img class="logo-img" src="../../assets/images/avory.png">
                    <img class="h-logo-img" src="../../assets/images/h_avory.png">
                </a>
                <a href="#" class="flex justify-center">
                    <img class="logo-img" src="../../assets/images/aliqua.png">
                    <img class="h-logo-img" src="../../assets/images/h_aliqua.png">
                </a>
                <a href="#" class="flex justify-center">
                    <img class="logo-img" src="../../assets/images/r.png">
                    <img class="h-logo-img" src="../../assets/images/h_r.png">
                </a>
                <a href="#" class="flex justify-center">
                    <img class="logo-img" src="../../assets/images/cillum.png">
                    <img class="h-logo-img" src="../../assets/images/h_cillum.png">
                </a>
                <a href="#" class="flex justify-center">
                    <img class="logo-img" src="../../assets/images/techcompany.png">
                    <img class="h-logo-img" src="../../assets/images/h_techcompany.png">
                </a>
                <a href="#" class="flex justify-center">
                    <img class="logo-img" src="../../assets/images/flash.png">
                    <img class="h-logo-img" src="../../assets/images/h_flash.png">
                </a>
                <a href="#" class="flex justify-center">
                    <img class="logo-img" src="../../assets/images/e-book.png">
                    <img class="h-logo-img" src="../../assets/images/h_e-book.png">
                </a>
                <a href="#" class="flex justify-center">
                    <img class="logo-img" src="../../assets/images/infinity.png">
                    <img class="h-logo-img" src="../../assets/images/h_infinity.png">
                </a>
                <a href="#" class="flex justify-center">
                    <img class="logo-img" src="../../assets/images/start-it.png">
                    <img class="h-logo-img" src="../../assets/images/h_start-it.png">
                </a> -->
            </div>            
        </div>
    </div>
</div>
