<div class="container">
    <div class="advisors_block">
        <div class="text-center">
            <h2 class="white_color">Advisors Board</h2>
            <span class="line"></span>
        </div>
        <div class="advisors">
            <div class="d-flex">
                <div class="adv_data d-flex f-col align-items-center" *ngFor="let adv of adv_data1">
                    <div class="t_img">
                        <img src="../../assets/images/{{adv.adv_img1}}">
                        <div class="social_media">
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            <a href="#"><i class="fa-brands fa-skype"></i></a>
                        </div>
                    </div>                    
                    <a href="#" class="text-center">
                        <h5 class="adv_name white_color">{{adv.adv_name1}}</h5>
                    </a>
                    <h6 class="adv_position">{{adv.adv_position1}}</h6>                    
                </div>
                <!-- <div class="adv_data d-flex f-col align-items-center">
                    <div class="t_img">
                        <img src="../../assets/images/adv_img1.png">
                        <div class="social_media">
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            <a href="#"><i class="fa-brands fa-skype"></i></a>
                        </div>
                    </div>                    
                    <a href="#" class="text-center">
                        <h5 class="adv_name">James Walsh</h5>
                    </a>
                    <h6 class="adv_position">Founder & CEO</h6>                    
                </div>
                <div class="adv_data d-flex f-col align-items-center">
                    <div class="t_img">
                        <img src="../../assets/images/adv_img2.png">
                        <div class="social_media">
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            <a href="#"><i class="fa-brands fa-skype"></i></a>
                        </div>
                    </div>                    
                    <a href="#" class="text-center">
                        <h5 class="adv_name">Nancy Ray</h5>
                    </a>
                    <h6 class="adv_position">Chief Operational Officer</h6>                    
                </div>
                <div class="adv_data d-flex f-col align-items-center">
                    <div class="t_img">
                        <img src="../../assets/images/adv_img3.png">
                        <div class="social_media">
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            <a href="#"><i class="fa-brands fa-skype"></i></a>
                        </div>
                    </div>                    
                    <a href="#" class="text-center">
                        <h5 class="adv_name">Peter Obrien</h5>
                    </a>
                    <h6 class="adv_position">Lead Software Developer</h6>                    
                </div>
                <div class="adv_data d-flex f-col align-items-center">
                    <div class="t_img">
                        <img src="../../assets/images/adv_img4.png">
                        <div class="social_media">
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            <a href="#"><i class="fa-brands fa-skype"></i></a>
                        </div>
                    </div>                    
                    <a href="#" class="text-center">
                        <h5 class="adv_name">George Medina</h5>
                    </a>
                    <h6 class="adv_position">Software Architect</h6>                    
                </div>
                <div class="adv_data d-flex f-col align-items-center">
                    <div class="t_img">
                        <img src="../../assets/images/adv_img5.png">
                        <div class="social_media">
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            <a href="#"><i class="fa-brands fa-skype"></i></a>
                        </div>
                    </div>                    
                    <a href="#" class="text-center">
                        <h5 class="adv_name">Andrea Kim</h5>
                    </a>
                    <h6 class="adv_position">Software Architect</h6>                    
                </div> -->
            </div>
        </div>
    </div>
</div>