<div class="container">
    <div class="about_section d-flex justify-spacebetween">
        <div class="about_block white_color">
            <h2>About</h2>
            <h5 class="about_data">Aliquam lorem ante, dapibus in, viverra quis, feugiat tellus. Phasellus viverra nulla
                ut metus varius laore.</h5>
            <p class="about_para">Lorem ipsum dolor sit amet, consetuer adipiscing elit. Aenean com modo ligula eget
                dolor. Aenean massa. Cum sociis Theme natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus mus. Lorem ipsum dolor sit consectetuer adipiscing sociis theme</p>
            <div class="flex">
                <ul class="list1">
                    <li><i class="fa fa-square"></i> Blockchain Strategy</li>
                    <li><i class="fa fa-square"></i> ICO Progress</li>
                    <li><i class="fa fa-square"></i> Financial Services </li>
                </ul>
                <ul class="list2">
                    <li><i class="fa fa-square"></i> Financial Services</li>
                    <li><i class="fa fa-square"></i> Blockchain Strategy</li>
                    <li><i class="fa fa-square"></i> ICO Progress</li>
                </ul>
            </div>
        </div>
        <div class="video_block">
            <a href="#" class="d-flex align-items-center justify-center"><img src="../../assets/images/video_img.png">
                <span class="play_btn"></span>
            </a>            
        </div>
    </div>
</div>