<div class="wrapper_top">
    <div class="scroll">        
        <div class="m-scroll flex">
            <div class="price_data flex">                
                <div class="coine_img"><img src="../../assets/images/bitcoine.png"></div>
                <div class="coine_name">Bitcoin</div>
                <div class="coine_rate">$20973.521970406</div>
                <div class="rate_change"><i class="fa fa-long-arrow-down down_red" aria-hidden="true"></i> -2.01%</div>
            </div>  
            <div class="price_data flex">                
                <div class="coine_img"><img src="../../assets/images/Ethereum.png"></div>
                <div class="coine_name">Ethereum</div>
                <div class="coine_rate">$1539.2288321829</div>
                <div class="rate_change"><i class="fa fa-long-arrow-down down_red" aria-hidden="true"></i> -4.07%</div>
            </div>  
            <div class="price_data flex">                
                <div class="coine_img"><img src="../../assets/images/Tether.png"></div>
                <div class="coine_name">Tether</div>
                <div class="coine_rate">$1.0013725651844</div>
                <div class="rate_change"><i class="fa fa-long-arrow-down down_red" aria-hidden="true"></i> -0.02%</div>
            </div>  
            <div class="price_data flex">                
                <div class="coine_img"><img src="../../assets/images/USD_Coin.png"></div>
                <div class="coine_name">USD Coin</div>
                <div class="coine_rate">$1.0017996968848</div>
                <div class="rate_change"><i class="fa fa-long-arrow-down down_red" aria-hidden="true"></i> -0.01%</div>
            </div>  
            <div class="price_data flex">                
                <div class="coine_img"><img src="../../assets/images/BNB.png"></div>
                <div class="coine_name">BNB</div>
                <div class="coine_rate">$290.4854239903</div>
                <div class="rate_change"><i class="fa fa-long-arrow-down down_red" aria-hidden="true"></i> -2.61%</div>
            </div>  
            <div class="price_data flex">                
                <div class="coine_img"><img src="../../assets/images/Binance_USD.png"></div>
                <div class="coine_name">Binance USD</div>
                <div class="coine_rate">$1.0015634738409</div>
                <div class="rate_change"><i class="fa fa-long-arrow-down down_red" aria-hidden="true"></i> -0.02%</div>
            </div>  
            <div class="price_data flex">                
                <div class="coine_img"><img src="../../assets/images/XRP.png"></div>
                <div class="coine_name">XRP</div>
                <div class="coine_rate">$0.3329622567406</div>
                <div class="rate_change"><i class="fa fa-long-arrow-down down_red" aria-hidden="true"></i> -3.08%</div>
            </div>  
            <div class="price_data flex">                
                <div class="coine_img"><img src="../../assets/images/Cardano.png"></div>
                <div class="coine_name">Cardano</div>
                <div class="coine_rate">$0.44076737596969</div>
                <div class="rate_change"><i class="fa fa-long-arrow-down down_red" aria-hidden="true"></i> -4.66%</div>
            </div>  
            <div class="price_data flex">                
                <div class="coine_img"><img src="../../assets/images/Solana.png"></div>
                <div class="coine_name">Solana</div>
                <div class="coine_rate">$34.460902551726</div>
                <div class="rate_change"><i class="fa fa-long-arrow-down down_red" aria-hidden="true"></i> -3.79%</div>
            </div>  
            <div class="price_data flex">                
                <div class="coine_img"><img src="../../assets/images/Dogecoin.png"></div>
                <div class="coine_name">Dogecoin</div>
                <div class="coine_rate">$0.065618561365637</div>
                <div class="rate_change"><i class="fa fa-long-arrow-down down_red" aria-hidden="true"></i> -5.59%</div>
            </div>  
        </div>
    </div>
</div>