<div class="container">
    <div class="roadmap_section">
        <div class="roadmap_title text-center">
            <h3 class="white_color">Roadmap</h3>
            <span class="line"></span>
        </div>
        <div class="chart_block">                        
            <div class="up_section flex justify-spacebetween">
                <div id="box1" class="chart_box">
                    <h5 class="chart_title">London Office</h5>
                    <p>Aliquam lorem ante, dapi bus in, viverra quis, feugi at a, tel lus. Phaselus vive</p>
                    <span id="circle1" class="circle"></span>      
                    <p class="v_data1">Q3 2017</p>
                </div>
                <div id="box2" class="chart_box">
                    <h5 class="chart_title">Move Forward</h5>
                    <p>Aliquam lorem ante dapi busin, viverra quis feugia ta tellus. Phaselus viverra nulla ut metus us. Aenea imperdiet quis que rut</p>
                    <span id="circle3" class="circle"></span>     
                    <p class="v_data1">Q1 2018</p>
                </div>
                <div id="box3" class="chart_box">
                    <h5 class="chart_title">Future is Now</h5>
                    <p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phaselus viverra nulla ut metus us.</p>
                    <span id="circle5" class="circle"></span>              
                    <p class="v_data1">Q1 2019</p>    
                </div>                                
            </div>
            <!-- <div class="flex align-items-center justify-space-around">
                <p class="v_line"></p>  
                <span id="circle1" class="circle"></span>              
                <p class="v_data">Q4 2017</p>
                <span id="circle2" class="circle"></span>              
                <p class="v_line"></p>
                <span id="circle3" class="circle"></span>              
                <p class="v_data">Q2 2018</p>
                <span id="circle4" class="circle"></span>              
                <p class="v_line"></p>
                <span id="circle5" class="circle"></span>              
            </div>             -->
            <div class="chart_h_line d-flex">
                <i class="fas fa-angle-left"></i>
                <div class="h_line"></div>  
                <i class="fas fa-angle-right"></i>
            </div>
            <!-- <div class="flex align-items-center justify-space-around">
                <p class="v_data">Q3 2017</p>
                <p class="v_line"></p>
                <p class="v_data">Q1 2018</p>
                <p class="v_line"></p>
                <p class="v_data">Q1 2019</p>                
            </div> -->
            <div class="down_section flex justify-space-evenly">
                <div id="box4" class="chart_box">                    
                    <span id="circle2" class="circle"></span>  
                    <p class="v_data">Q4 2017</p>
                    <h5 class="chart_title">New Startup</h5>
                    <p>Lorem ipsum dolor sitam et consectetuer adipisci elit lorem ipsum</p>
                </div>
                <div id="box5" class="chart_box">
                    <span id="circle4" class="circle"></span>  
                    <p class="v_data">Q2 2018</p>
                    <h5 class="chart_title">Indian Market</h5>
                    <p>Aliquam lorem ante, dapibus in, viverra qui, feugit a, telus pha sel.</p>
                </div>
            </div>

            <!-- <div class="timeline flex justify-center align-items-center">                                
                <i class="fas fa-angle-left"></i>
                <div class="events">                                                            
                    <ol>                        
                        <ul>                            
                          <li>                            
                            <a href="#1">hg</a>                            
                          </li>
                          <span class="box">
                            <div class="chart_box">
                                <h5 class="chart_title">London Office</h5>
                                <p>Aliquam lorem ante, dapi bus in, viverra quis, feugi at a, tel lus. Phaselus vive</p>
                            </div>
                        </span>
                          <li>
                            <a href="#1">Career</a>
                          </li>
                          <li>
                            <a href="#2">Philosophy</a>
                          </li>
                          <li>
                            <a href="#3">Legacy</a>
                          </li>
                          <li>
                            <a href="#4">Early Life</a>
                          </li>
                        </ul>
                      </ol>
                </div>
                <i class="fas fa-angle-right"></i>
            </div> -->

            <!-- <div class="chart_box">
                <h5 class="chart_title">London Office</h5>
                <p>Aliquam lorem ante, dapi bus in, viverra quis, feugi at a, tel lus. Phaselus vive</p>
            </div>
            <span class="circle"></span>
            <div class="chart_h_line d-flex align-items-center justify-center"><i class="fas fa-angle-left"></i><span class="h_line"></span><i class="fas fa-angle-right"></i></div> -->
        </div>
    </div>
</div>
