/* 1600 view*/
@media only screen and (max-width:1919px) {}

/* 1440 view*/
@media only screen and (max-width:1599px) {}

/* 1366 view*/
@media only screen and (max-width:1439px) {}

/* 1280 view*/

@media only screen and (max-width: 1365px) {   

}

@media only screen and (max-width: 1279px) {}

/* iPad 1024 (Landscape) view*/
@media only screen and (max-width:1199px) {
    .logo{
        padding-right: 50px;
    }
}

@media only screen and (max-width:1084px) {
    .header1 {
        padding: 25px 20px 25px 20px;
    }
    .pipe{
        margin-left: 8px;
        margin-right: 8px;
    }
}

/* iPad 768 (portrait) view*/
@media only screen and (max-width: 1023px) {
    .logo{
        padding-right: 30px;
    }
}

/* iPad 768 (portrait) view*/

@media only screen and (max-width: 991px) {
    .connecter{
        display: none;        
    }

    .user{
        display: block;
    }
    .h_menu{
        display: none;
    }
}

/*/ iPhone-6 plus 736 (Landscape) view /*/
@media only screen and (max-width: 767px) {

}


/*/ iPhone-6 667 (Landscape) view /*/

@media only screen and (max-width: 735px) {}

/*/ iPhone-5 568 (Landscape) view /*/

@media only screen and (max-width: 666px) {
}


/*/ iPhone-4 480 (Landscape) view /*/
@media only screen and (max-width: 567px) {

   
}


/*/ iPhone-6 plus 414 (portrait) view /*/
@media only screen and (max-width: 479px) {
   
}


/*/ iPhone-6 375 (portrait) view /*/

@media only screen and (max-width: 413px) {
   
}


/*/ iPhone-4 320 (portrait) view /*/
@media only screen and (max-width: 375px) {
   

}