<div class="container">
    <div class="token_block d-flex justify-spacebetween">
        <div class="token_video">
            <a href="#" class="d-flex align-items-center justify-center"><img src="../../assets/images/video_img1.jpg">
                <span class="play_btn"></span>
            </a>
        </div>
        <div class="token_data">
            <h2 class="white_color">Edge Token Sale</h2>
            <h5 class="italic token_para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                ligula eget dolor. Aenean massa. Cum</h5>
            <p class="token_para2">Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdi. Etiam ultricies nisi vel augue. Curabitur
                ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condi</p>
            <div class="store-img d-flex">
                <a href="#"><img src="../../assets/images/google_play.png" class="google-play"></a>
                <a href="#"><img src="../../assets/images/app-store.png"></a>
            </div>
        </div>
    </div>
</div>