<header>
    <div class="header" id="menu">
        <div class="container">
            <div class="header_section d-flex align-items-center justify-spacebetween">
                <div class="logo">
                    <a href="#"><img src="../../assets/images/logo.png"></a>
                </div>
                <div class="d-flex">
                    <div class="menu" Clickoutside (clickOutside)="clickedOutside()">
                        <ul class="d-flex">
                            <li class="list1"><a href="#" class="active menu_item">HOME
                                    <ul class="inner_menu">
                       <!-- <li class="list1"><a href="#" (mouseover)='over()' class="active menu_item">HOME                                
                                <ul class="inner_menu" [@hover]="isOpen ? 'open' : 'closed'"> -->
                                        <li id="first"><a href="#" class="inner_item"><span class="bullet1"></span>MAIN
                                                HOME</a></li>
                                        <li><a href="#"><span class="bullet"></span> APP PRESENTATION</a></li>
                                        <li><a href="#"><span class="bullet"></span> CRYPTO ADVISOR</a></li>
                                        <li><a href="#"><span class="bullet"></span> CRYPTO AGENCY</a></li>
                                        <li><a href="#"><span class="bullet"></span> ICO HOME</a></li>
                                        <li><a href="#"><span class="bullet"></span> BLOCKCHAIN APP</a></li>
                                        <li><a href="#"><span class="bullet"></span> VERTICAL SLIDER</a></li>
                                        <li><a href="#"><span class="bullet"></span> BLOG HOME</a></li>
                                        <li><a href="#"><span class="bullet"></span> LANDING</a></li>
                                    </ul>
                                </a></li>
                            <li class="list1"><a href="#" class="menu_item">PAGES
                                    <ul class="inner_menu">
                                        <li><a href="#"><span class="bullet"></span> ABOUT US</a></li>
                                        <li><a href="#"><span class="bullet"></span> TEAM MEMBER</a></li>
                                        <li><a href="#"><span class="bullet"></span> CONTACT US</a></li>
                                        <li><a href="#"><span class="bullet"></span> GET IN TOUCH</a></li>
                                        <li><a href="#"><span class="bullet"></span> 404 ERROR PAGE</a></li>
                                    </ul>
                                </a></li>
                            <li class="list1"><a href="#" class="menu_item">CURRENCIES
                                    <ul class="inner_menu">
                                        <li><a href="#"><span class="bullet"></span> ICO Countdown</a></li>
                                        <li><a href="#"><span class="bullet"></span> ICO Single</a></li>
                                    </ul>
                                </a></li>
                            <li class="list1"><a href="#" class="menu_item">PORTFOLIO
                                    <ul class="inner_menu">
                                        <li><a href="#"><span class="bullet"></span> Standard</a></li>
                                        <li><a href="#"><span class="bullet"></span> Gallery</a></li>
                                        <li><a href="#"><span class="bullet"></span> Masonry</a></li>
                                        <li class="in_menu"><a href="#"><span class="bullet"></span> Layouts
                                                <!-- <ul class="inner_submenu">                                    
                                            <li><a href="#"><span class="bullet"></span> Two Columns</a></li>
                                            <li><a href="#"><span class="bullet"></span> Three Columns</a></li>
                                            <li><a href="#"><span class="bullet"></span> Four Columns</a></li> 
                                            <li><a href="#"><span class="bullet"></span> Four Columns Wide</a></li>
                                            <li><a href="#"><span class="bullet"></span> Five Columns Wide</a></li>                                    
                                        </ul>-->
                                            </a></li>
                                        <li><a href="#"><span class="bullet"></span> Single
                                                <!-- <ul class="inner_submenu">                                    
                                            <li><a href="#"><span class="bullet"></span> Big Slider</a></li>
                                            <li><a href="#"><span class="bullet"></span> Big Images</a></li>
                                            <li><a href="#"><span class="bullet"></span> Gallery</a></li>                                             
                                        </ul> -->
                                            </a></li>
                                    </ul>
                                </a></li>
                            <li class="list1"><a href="#" class="menu_item">BLOG
                                    <ul class="inner_menu">
                                        <li><a href="#"><span class="bullet"></span> Right Sidebar</a></li>
                                        <li><a href="#"><span class="bullet"></span> Left Sidebar</a></li>
                                        <li><a href="#"><span class="bullet"></span> Three Columns</a></li>
                                        <li><a href="#"><span class="bullet"></span> Post Types
                                                <!--        <ul class="inner_submenu">                                    
                                            <li><a href="#"><span class="bullet"></span> Standard</a></li>
                                            <li><a href="#"><span class="bullet"></span> Gallery</a></li>
                                            <li><a href="#"><span class="bullet"></span> Link</a></li>
                                            <li><a href="#"><span class="bullet"></span> Quote</a></li>                                             
                                            <li><a href="#"><span class="bullet"></span> Video</a></li>                                             
                                            <li><a href="#"><span class="bullet"></span> Audio</a></li>                                             
                                        </ul>-->
                                            </a></li>
                                    </ul>
                                </a></li>
                            <li class="list1"><a href="#" class="menu_item">SHOP
                                    <ul class="inner_menu">
                                        <li><a href="#"><span class="bullet"></span> Product List</a></li>
                                        <li><a href="#"><span class="bullet"></span> Product Single</a></li>
                                        <li><a href="#"><span class="bullet"></span> Shop Layouts
                                                <!--        <ul class="inner_submenu">                                    
                                            <li><a href="#"><span class="bullet"></span> Three Columns</a></li>
                                            <li><a href="#"><span class="bullet"></span> Four Columns</a></li>
                                            <li><a href="#"><span class="bullet"></span> Full Width</a></li>                                            
                                        </ul>-->
                                            </a></li>
                                        <li><a href="#"><span class="bullet"></span> Shop Pages
                                                <!--        <ul class="inner_submenu">                                    
                                            <li><a href="#"><span class="bullet"></span> My Account</a></li>
                                            <li><a href="#"><span class="bullet"></span> Cart</a></li>
                                            <li><a href="#"><span class="bullet"></span> Checkout</a></li>                                            
                                        </ul>-->
                                            </a></li>
                                    </ul>
                                </a></li>
                            <li class="list1"><a href="#" class="menu_item">ELEMENTS
                                    <div class="inner_menu1">
                                        <ul class="element_block d-flex">
                                            <li class="li1">
                                                <p class="element_title white_color">Featured</p>
                                                <ul>
                                                    <li><a href="#"><span class="bullet"></span> Roadmap</a></li>
                                                    <li><a href="#"><span class="bullet"></span> ICO List</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Currency List &
                                                            Converter</a></li>
                                                    <li><a href="#"><span class="bullet"></span> ICO Countdown
                                                            Standard</a></li>
                                                    <li><a href="#"><span class="bullet"></span> ICO Countdown Boxed</a>
                                                    </li>
                                                    <li><a href="#"><span class="bullet"></span> Icon Showcase</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Item Showcase</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Pie Chart Doughnut</a>
                                                    </li>
                                                    <li><a href="#"><span class="bullet"></span> Currency Carousel</a>
                                                    </li>
                                                    <li><a href="#"><span class="bullet"></span> Frame Slider</a></li>
                                                </ul>
                                            </li>
                                            <li class="li1">
                                                <p class="element_title white_color">Classic</p>
                                                <ul>
                                                    <li><a href="#"><span class="bullet"></span> Accordions</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Tabs</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Buttons</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Icon With Text</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Icon List Item</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Contact Form</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Google Maps</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Video Button</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Parallax Section</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="li1">
                                                <p class="element_title white_color">Infographic</p>
                                                <ul>
                                                    <li><a href="#"><span class="bullet"></span> Testimonials</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Team</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Clients</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Progress Bar</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Pricing Table</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Counters</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Countdown</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Pie Chart</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Blog List</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Shop List</a></li>
                                                </ul>
                                            </li>
                                            <li class="li1">
                                                <p class="element_title white_color">Typography</p>
                                                <ul>
                                                    <li><a href="#"><span class="bullet"></span> Headings</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Row Background Text</a>
                                                    </li>
                                                    <li><a href="#"><span class="bullet"></span> Columns</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Blockquote</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Dropcaps</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Highlights</a></li>
                                                    <li><a href="#"><span class="bullet"></span> Separators</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- <div class="element_menu d-flex">
                                    <div class="li1"></div>
                                    <div class="li1"></div>
                                    <div class="li1"></div>
                                    <div class="li1"></div>
                                </div> -->
                                    <!-- <ul class="inner_menu">
                                        <li><a href="#"><span class="bullet"></span> aa</a></li>
                                        <li><a href="#"><span class="bullet"></span> aa</a></li>
                                    </ul> -->
                                </a></li>
                        </ul>
                    </div>
                    <div>
                        <button id="login" class="btn_primary">LOGIN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header1">
        <div class="container">
            <div class="header_section1 d-flex" Clickoutside (clickOutside)="clickedOutside1()">
                <div>
                    <a href="#" class="menu_icon" (click)='open()'><i class="fa-solid fa-bars"></i></a>
                </div>
                <div class="logo_sec">
                    <a href="#" class="text-center logo1"><img src="../../assets/images/logo1.png"></a>
                </div>
                <div class="mobile_menu" [@openclose]="isOpen1 ? 'open' : 'closed'">
                    <ul>
                        <li><a href="#" class="d-flex justify-spacebetween" (click)='openinnerMenu()'>Home <i
                                    class="fa fa-angle-right" aria-hidden="true" [@rotatedState1]='inmenu_arrow'></i>
                            </a>
                            <div class="mobile_inner_menu" [@openclose]="isOpenin ? 'open' : 'closed'">
                                <ul>
                                    <li><a href="#">Main Home</a></li>
                                    <li><a href="#">App Presentation</a></li>
                                    <li><a href="#">Crypto Advisor</a></li>
                                    <li><a href="#">Crypto Agency</a></li>
                                    <li><a href="#">ICO Home</a></li>
                                    <li><a href="#">Blockchain App</a></li>
                                    <li><a href="#">Vertical Slider</a></li>
                                    <li><a href="#">Blog Home</a></li>
                                    <li><a href="#">Landing</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#" class="d-flex justify-spacebetween" (click)='openinnerMenu1()'>Pages <i
                                    class="fa fa-angle-right" aria-hidden="true"
                                    [@rotatedState1]='inmenu_arrow1'></i></a>
                            <div class="mobile_inner_menu" [@openclose]="isOpenin1 ? 'open' : 'closed'">
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Team Member</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Get in Touch</a></li>
                                    <li><a href="#">404 error page</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#" class="d-flex justify-spacebetween" (click)='openinnerMenu2()'>Currencies <i
                                    class="fa fa-angle-right" aria-hidden="true"
                                    [@rotatedState1]='inmenu_arrow2'></i></a>
                            <div class="mobile_inner_menu" [@openclose]="isOpenin2 ? 'open' : 'closed'">
                                <ul>
                                    <li><a href="#">ICO Countdown</a></li>
                                    <li><a href="#">ICO Single</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#" class="d-flex justify-spacebetween" (click)='openinnerMenu3()'>Portfolio <i
                                    class="fa fa-angle-right" aria-hidden="true"
                                    [@rotatedState1]='inmenu_arrow3'></i></a>
                            <div class="mobile_inner_menu" [@openclose]="isOpenin3 ? 'open' : 'closed'">
                                <ul>
                                    <li><a href="#">Standard</a></li>
                                    <li><a href="#">Gallery</a></li>
                                    <li><a href="#">Masonry</a></li>
                                    <li><a href="#">Layouts</a></li>
                                    <li><a href="#">Single</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#" class="d-flex justify-spacebetween" (click)='openinnerMenu4()'>Blog <i
                                    class="fa fa-angle-right" aria-hidden="true"
                                    [@rotatedState1]='inmenu_arrow4'></i></a>
                            <div class="mobile_inner_menu" [@openclose]="isOpenin4 ? 'open' : 'closed'">
                                <ul>
                                    <li><a href="#">Right Sidebar</a></li>
                                    <li><a href="#">Left Sidebar</a></li>
                                    <li><a href="#">Three Columns</a></li>
                                    <li><a href="#">Post Types</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#" class="d-flex justify-spacebetween" (click)='openinnerMenu5()'>Shop <i
                                    class="fa fa-angle-right" aria-hidden="true"
                                    [@rotatedState1]='inmenu_arrow5'></i></a>
                            <div class="mobile_inner_menu" [@openclose]="isOpenin5 ? 'open' : 'closed'">
                                <ul>
                                    <li><a href="#">Product List</a></li>
                                    <li><a href="#">Product Single</a></li>
                                    <li><a href="#">Shop Layouts</a></li>
                                    <li><a href="#">Shop Pages</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#" class="d-flex justify-spacebetween" (click)='openinnerMenu6()'>Elements <i
                                    class="fa fa-angle-right" aria-hidden="true"
                                    [@rotatedState1]='inmenu_arrow6'></i></a>
                            <div class="mobile_inner_menu" [@openclose]="isOpenin6 ? 'open' : 'closed'">
                                <ul>
                                    <li><a href="#">Featured</a></li>
                                    <li><a href="#">Classic</a></li>
                                    <li><a href="#">Infographic</a></li>
                                    <li><a href="#">Typography</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</header>