<main>
    <div class="main_section">
        <button class="setting"><i class='fa-solid fa-gear'></i></button>        
        <button class="btn_red"><img src="../../assets/images/qode.png"></button>
        <button class="btn_red btn_cart"><i class="fa-solid fa-cart-shopping"></i></button>
        <button class="btn_up" (click)="scrollToTop()" id="btn1"><i class="fa-solid fa-angle-up"></i><i class="fa-solid fa-arrow-up" id="up"></i></button>
        <app-timer></app-timer>
        <app-information></app-information>
        <app-aboutus></app-aboutus>
        <app-grow-your-capital></app-grow-your-capital>
        <app-roadmap></app-roadmap>
        <app-slider></app-slider>
        <app-team></app-team>
        <app-advisor-board></app-advisor-board>
        <app-feature></app-feature>
        <app-token></app-token>
        <app-strategic-partners></app-strategic-partners>
        <app-information1></app-information1>                
    </div>
</main>