<div class="container">
    <div class="feature_block">
        <div class="text-center">
            <h2 class="fea_title">ICO Wallet Feature</h2>
            <span class="line"></span>
        </div>
        <div class="features d-flex">
            <div class="left_fea d-flex f-col text-right justify-spacebetween">
                <div *ngFor="let feature of feature_l">
                    <img class="left_img" src="../../assets/images/{{feature.l_img}}">
                    <h5>{{feature.l_title}}</h5>
                    <p class="fea_para">{{feature.l_para}}</p>
                </div>
                <!-- <div>
                    <img class="left_img" src="../../assets/images/h1-custom-icon-img-15.png">
                    <h5>Predictions</h5>
                    <p class="fea_para">Donec quam felis, ultricies nec, pellentesque eu pret ium quis, sem. Nulla consequat massa quis justo fri</p>
                </div>
                <div>
                    <img class="left_img" src="../../assets/images/h1-custom-icon-img-16.png">
                    <h5>Innovation</h5>
                    <p class="fea_para">Donec quam felis, ultricies nec, pellentesque eu pret ium quis, sem. Nulla consequat massa quis justo fri</p>
                </div>
                <div>
                    <img class="left_img" src="../../assets/images/h1-custom-icon-img-16.png">
                    <h5>Network</h5>
                    <p class="fea_para">Donec quam felis, ultricies nec, pellentesque eu pret ium quis, sem. Nulla consequat massa quis justo fri</p>
                </div> -->
            </div>
            <div class="mobile text-center">
                <img src="../../assets/images/mobile.png">
            </div>
            <div class="right_fea d-flex f-col text-left justify-spacebetween">                
                <div *ngFor="let feature of feature_r">
                    <img class="left_img" src="../../assets/images/{{feature.r_img}}">
                    <h5>{{feature.r_title}}</h5>
                    <p class="fea_para">{{feature.r_para}}</p>
                </div>
                <!-- <div>
                    <img class="left_img" src="../../assets/images/h1-custom-icon-img-18.png">
                    <h5>Trafficking</h5>
                    <p class="fea_para">Donec quam felis, ultricies nec, pellentesque eu pret ium quis, sem. Nulla consequat massa quis justo fri</p>
                </div>
                <div>
                    <img class="left_img" src="../../assets/images/h1-custom-icon-img-19.png">
                    <h5>Security</h5>
                    <p class="fea_para">Donec quam felis, ultricies nec, pellentesque eu pret ium quis, sem. Nulla consequat massa quis justo fri</p>
                </div>
                <div>
                    <img class="left_img" src="../../assets/images/h1-custom-icon-img-20.png">
                    <h5>Sell & buy</h5>
                    <p class="fea_para">Donec quam felis, ultricies nec, pellentesque eu pret ium quis, sem. Nulla consequat massa quis justo fri</p>
                </div> -->
            </div>
        </div>
    </div>
</div>
