<div class="capital_section">
    <div class="container">
        <div class="capital_inner_sec d-flex justify-spacebetween align-items-center white_color">
            <div class="col1">
                <h2>Grow Your Capital</h2>
                <p class="capital_para">Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus
                    viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
                    augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                    eget condimentum rhoncus, sem quam semper libero
                </p>
                <button class="btn_primary btn_whitePaper">White Paper</button>
            </div>
            <div class="col2 d-flex">
                <div class="d-flex f-col align-items-center" id="security">
                    <img src="../../assets/images/Security.png">
                    <h1>75%</h1>
                    <h5>Security</h5>
                </div>
                <div class="d-flex f-col align-items-center" id="transparency">
                    <img src="../../assets/images/Transparency.png">
                    <h1>150%</h1>
                    <h5>Transparency</h5>
                </div>
                <div class="d-flex f-col align-items-center" id="professional">
                    <img src="../../assets/images/Professional.png">
                    <h1>220%</h1>
                    <h5>Professional</h5>
                </div>
            </div>
        </div>
    </div>
</div>