<div class="slider_block">
    <div class="container">
        <div class="main_slider">
            <div id="slider">        
                <ul>
                    <li id="slides__1">
                        <div class="slider-container text-center">
                            <div class="d-flex f-col align-items-center">
                                <img src="../../assets/images/slider_img_1.png">
                                <p class="slider_para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                    commodo ligula eget dolor. Aenean massa. Cum sociis Theme natoque penatibus et
                                    magnis dis</p>
                                <h5 class="author_name">Alice Adams</h5>
                                <span class="author_job">Engineer</span>
                            </div>                            
                        </div>
                    </li>

                    <li id="slides__2">
                        <div class="slider-container text-center" id="id2">
                            <div class="d-flex f-col align-items-center">
                                <img src="../../assets/images/slider_img_2.png">
                                <p class="slider_para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                    commodo ligula eget dolor. Aenean massa. Cum sociis Theme natoque penatibus et
                                    magnis dis</p>
                                <h5 class="author_name">Alice Adams</h5>
                                <span class="author_job">Engineer</span>
                            </div>
                        </div>
                    </li>
                    <li id="slides__3">
                        <div class="slider-container text-center" id="id3">
                            <div class="d-flex f-col align-items-center">
                                <img src="../../assets/images/slider_img_3.png">
                                <p class="slider_para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                    commodo ligula eget dolor. Aenean massa. Cum sociis Theme natoque penatibus et
                                    magnis dis</p>
                                <h5 class="author_name">Steven Griffin</h5>
                                <span class="author_job">Miner</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>